.p3 {
	display: none;
	opacity: 0;
	background: url(../img/p31bg.png) no-repeat 0 0/100% 100%;
}
.p3 .rect {

	width: 707px;
	height: 867px;
	position: absolute;
	top: 280px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/圆角矩形.png) no-repeat 0 0 / 100% 100%;
	display: grid;
	grid-template-columns: repeat(4,147px);
	grid-auto-rows: 147px;
	grid-row-gap: 150px;
	grid-column-gap: 30px;
	justify-content: center;
	align-content: center;
	
}
.p3 .rect .item {
	background: #000;
	border-radius: 20px;
	transition: transform .3s;
	transform: rotateY(0deg);
}
@keyframes itemSc{
	0% {
		
	}
	100% {
		transform: rotateY(180deg) scale(1.1);
	}
	
}
.p3 .idbox {
	position: absolute;
	top: 158px;
	left: 77px;
	display: flex;
	font-size: 80px;color: #fff;
	line-height: 89px;
	
}
.p3 .idbox .id {
	width: 84px;
	height: 89px;
	margin-right: 40px;
	background: url(../img/ld.png) no-repeat 0 0 / 100% 100%; 
	animation: idR 2s .5s linear infinite alternate;
}
@keyframes idR{
	0%{}
	20% {
		transform: rotate(0);
		
	}
	80%{
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(180deg);
		
	}
}
.p3 .cz {
	top: 177px;
	right: 47px;
	background: url(../img/重置.png) no-repeat 0 0 / 100% 100%;
}
.p3 .del {
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	background: url(../img/quit.png) no-repeat 0 0 / 100% 100%;
}

.p32 {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.6);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	opacity: 0;
}
.p32 .cg {
	width: 516px;
	height: 633px;
	transform: scale(0.2);
	background: url(../img/成功.png) no-repeat 0 0/100% 100%;
	animation: cgSc 1s linear forwards;
	
}
@keyframes cgSc {
	0% {
		
	}
	100%{
		transform: scale(1);
	}
	
}
.p32 .btns {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.p32 .btns div {
	margin:  0 20px;
}
.p32 .btn {
	position: initial;
}
.p32 .insy {
	background: url(../img/game1返回首页.png) no-repeat 0 0 / 100% 100%;
}
.p32 .next {
	background: url(../img/game1下一个.png) no-repeat 0 0 / 100% 100%;
}
